.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .3s, opacity .3s;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity .3s;
}

.popup__close-btn {
  position: absolute;
  z-index: 2;
  top: 22px;
  right: 22px;
  background-image: url('../../images/popup_close-btn.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.popup__close-btn:hover {
  opacity: .6;
}
