.nav {
  width: 100%
}

.nav__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__btn {
  font-size: 13px;
  line-height: 1.38;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0;
  opacity: 1;
  transition: opacity .2s linear, background-image .1s linear;
}

.nav__btn:hover {
  opacity: .6;
  cursor: pointer;
}

.nav__item_type_profile {
  margin: 0 0 0 auto;
}

.nav__btn_type_profile {
  border: 2px solid rgb(170, 170, 170);
  border-radius: 50px;
  min-height: 32px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500
}

