.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 100%;
  margin: 0;
}

.card__image {
  height: 201px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  cursor: pointer;
}

.card__save-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: rgb(249, 249, 249);
  height: 21px;
  width: 72px;
  border-radius: 30px;
  border: none;
  font-size: 10px;
  line-height: .9;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .2s, opacity .2s linear;
}

.card__image:hover ~ .card__save-btn, .card__save-btn:hover {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity .2s linear, background-color .2s linear;
}

.card__save-btn:hover {
  background-color: rgba(249, 249, 249, .6)
}

.card__mark-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 21px;
  width: 21px;
  background-image: url('../../../images/card_mark-btn.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(249, 100, 100);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;

}

.card__mark-btn:hover {
  opacity: .6;
}

.card__remove-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  background-image: url('../../../images/card_remove-btn.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(249, 249, 249);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .2s, opacity .2s linear;
}

.card__image:hover ~ .card__remove-btn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity .2s linear;
}

.card__remove-btn:hover {
  opacity: .6;
  visibility: visible;
}

.card__caption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 3.8%;
}

.card__header {
  margin: 0;
  font-size: 13px;
  line-height: 1.21;
  font-weight: 500;
  width: 100%;
}

.card__duration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 52px;
  font-size: 11px;
  line-height: 1;
  color: rgb(160, 160, 160);
  background-color: rgb(249, 249, 249);
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

}


@media screen and (max-width: 767px) {

  .card__header {
    font-size: 12px;
    line-height: 1.1;

  }
}
