.login {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.login__container {
  margin: 0 auto;
  padding: 40px 0 70px 0;
  min-height: 450px;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 40px 0;
}

.login__footnote {
  align-self: center;
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: rgb(160, 160, 160);
}

.login__link {
  text-decoration: none;
  color: rgba(255, 104, 56, 1);
  cursor: pointer;
  transition: color .2s linear;
}

.login__link:hover {
  color: rgba(255, 104, 56, .6);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login__container {
    padding: 236px 0 269px 0;
    min-height: 950px;
  }

  .login__title {
    margin: 0 0 90px 0;
  }

}

@media screen and (max-width: 767px) {
  .login__container {
    padding: 70px 9.3% 40px;
    min-height: 706px;
    align-items: center;
  }

  .login__footnote {
    font-size: 12px;
  }
}
