.tooltip__container {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  padding: 35px 3% 20px;
  margin: 265px auto;
  width: 35%;
  height: 150px;
  border-radius: 6px;
  box-sizing: border-box;
}

.tooltip__message {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;

  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tooltip__btn {
  padding: 0 2%;
  margin: auto 0 0 0;
  height: 45px;
  width: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color:rgb(255, 255, 255);
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(255, 104, 56);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.tooltip__btn:hover {
  opacity: .6;
}

.tooltip__btn:focus {
  outline: 1px solid rgb(204, 101, 52);
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tooltip__container {
    width: 45%;
    margin: 295px auto;
  }

  .tooltip__message {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .tooltip__container {
    width: 92%;
    margin: 316px auto;
  }

  .tooltip__btn {
    width: 70%;
  }

  .tooltip__message {
    font-size: 14px;
  }
}
